

.card-desafio-2 {
  background: #24C6DC;  /* fallback for old browsers */
  background: linear-gradient(to right, #514A9D, #24C6DC);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
  border-radius: 5px;
  width: 300px;
  height: 300px;
  margin: 10px;
  font-family: 'Bree Serif', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  
}
.card-desafio-2 h1 {
  font-size: 48px;
}


.card-text-content-desafio2 {
  display: flex;
  position: relative;
}

.desafio-2-letter-0 {
  height: 60px;
  width: 14px;
  background-color: white;
  z-index: 1;
}

.desafio-2-letter-1 {
  height: 30px;
  width: 14px;
  background-color: #dbd1d1;
  transform: rotate(48deg);
  position: absolute;
  left: -8px;
  top: -2px;
  z-index: 0;
}

.desafio-2-letter-zero {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 12px solid white;
}


