@charset "utf-8";
/* CSS Document */

/*----*****---- << Responsive >> ----*****----*/

	/*----*****---- << Desktop >> ----*****----*/	
	
    /* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */

    @media only screen and (min-width:1020px) and (max-width:1120px) {
		
		.container { width:900px; }
		.boxed .wrapper, .boxed #header { width:980px; }
		
	}

	/*----*****---- << Tablet (Portrait) >> ----*****----*/	
	
    /* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */

    @media only screen and (min-width:798px) and (max-width:1020px) {
		
		body { font-size:13px; }
		
		.container { width:710px; }
		.boxed .wrapper, .boxed #header { width:790px; }
		
		#logo { margin-top:17px; }
		#logo img { max-width:190px; }
		
		.aligncenter { width:100%; height:auto; }
		
	}
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 797px) {
		
		.mobile-menu { display:block; }
		#main-menu ul { display:none; }
		
		.container { width:420px; }
		.boxed .wrapper, .boxed #header { width:100%; }
		
		#logo { text-align: center; width: 100%; margin-top:7px; margin-bottom:5px; }
		#logo img { max-width:200px; }
		
	}
	
	/*----*****---- << Mobile >> ----*****----*/	

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		.mobile-menu { display:block; }
		#main-menu ul { display:none; }
		
		.container { width:200px; }
		.boxed .wrapper, .boxed #header { width:100%; }
		
		#logo { text-align: center; width: 100%; margin-top:7px; margin-bottom:5px; }
		
	}
