
/* Definições padrões
primary-color: #b3dae6
area-color: #10456a;
text-color-dark : #10456a;
text-color-default: #fff;
secondary-color:
color-buttons: #f1936f
*/

/* - padroes comuns */

body {
  background: #ececec;
  font-family: 'Martel Sans', Arial,  sans-serif;
  position: relative;
}

a:hover{
  cursor: pointer;
  color: rgb(93, 178, 199);
}

.subtext-blue {
	
	font-weight: 500;
	font-size: 1.125em;
	text-align: center;
	color: #10456a;
}
.title {
	margin-top: 30px;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 1.7em;
}
.subtext-red {
	text-transform: capitalize;
	font-size: 14px;
	color: #f1936f;
}
.subtext-description {
	font-family: 'Martel Sans', sans-serif;
	font-size: 10px;
	width: 250px;
	text-align: center;
	color: #10456a;
}

.btn-red {
  margin: 0 10px;
  padding: 5px 16px;
	font-family: 'Martel Sans', sans-serif;
  background-color: #f1936f;
  color:  #fff;
  border-radius: 20px;
}

.btn-red a {
  padding: 0px;
  margin: 0;
}


/* --- MENU   ---    */

.menu {
  display: flex;
  align-items: center;
	height: 100px;
  justify-content: space-between;
	background: #216c83;
	width: 100%;
	top: 0;
	z-index: 2;
}

.menu-nav {
	display: flex;
}

.menu nav {
	text-align: right;
	padding: 10px 20px 0 0;
}

.menu nav ul {
	padding: 0px;
	margin: 0px;
}

.menu nav li {
	display: inline-block;
	text-align: right;
}

.title-page-container {
  padding: 16px;
}

.title-page {
  font-size: 1.7em;
	color: #fff;
	font-family: 'Martel Sans', sans-serif;
  text-transform: none;
}


/*introdução*/

.intro {
  background: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}


.intro img {
  margin-top: 30px;
  height: 200px;
  width: 200px;
}

/*desafio*/

.content-desafio {
  padding: 30px;
}

.content-desafio h1 {
  color: rgb(35, 117, 138);
  font-weight: bold;
	font-family: 'Martel Sans', sans-serif;
  text-transform: none;
  text-align: center;
  margin: 24px 0;
}

.content-desafio-item {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}


/* list of challenges */

.ul-challenge {
  margin: 24px 90px;
}

.ul-challenge li {
  display: inline-block;
	text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid rgb(35, 117, 138);
}

.ul-challenge li:first-child {
  border-top: 1px solid rgb(35, 117, 138);
}

/* FOOTER */

footer {
  background: #216c83;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer span {
  color: #ececec;
}
/* material style */

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
 */


    /* Note: Design for a width of 480px */

 @media only screen and (min-width: 480px) and (max-width: 797px) {
  .content-desafio {
    padding: 0px;
  }
  
  .ul-challenge {
    margin: 24px 8px;
  }
    
}

/*----*****---- << Mobile >> ----*****----*/	

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .content-desafio {
    padding: 0px;
  }
  .ul-challenge {
    margin: 24px 8px;
  }
  
}